<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include("./partials/head") %>
    <title>Blog Page</title>
  </head>
  <body>
    <%- include("./partials/nav") %>

    <div class="container mt-4">
      <h1><%= blog.title %></h1>
      <img src="<%= blog.coverImageURL%>" width="700px" />
      <pre class="mt-4"><% blog.body %></pre>
    </div>

    <div class="container mt-4">
      <img src="<%= blog.createdBy.profileImageURL %>" width="50px" />
      <%blog.createdBy.fullName %>
    </div>

    <div class="container mt-3">
      <h1>Comments</h1>
      <% if (locals.user) { %>
      <form action="/user/signip" method="post">
        <div class="form-group my-4">
          <input
            type="text"
            name="content"
            class="form-control"
            placeholder="Enter your comment "
          />
        </div>
        <button type="submit" class="btn btn-sm btn-primary mt-4">Add</button>
      </form>
      <% } %>
    </div>

    <% include("./partials/scripts") %>
  </body>
</html>
