<!DOCTYPE html>
<html lang="en">
  <head>
    <%= include('./partials/head') %>
    <title>Home Page</title>
  </head>
  <body>
    <%= include('./partials/nav') %>
    <div class="row row-cols-4">
      <% blogs.forEach(blog => { %>
      <div class="card" style="width: 18rem">
        <img class="<%= blog.coverImageURL %>" src="..." alt="Card image cap" />
        <div class="card-body">
          <h5 class="card-title"><%= blog.title %></h5>
          <a href="/blog/<%=blog._id %>" class="btn btn-primary"
            >View Article &rarr;</a
          >
        </div>
      </div>
      <% }) %>
    </div>
    <%= include('./partials/scripts') %>
  </body>
</html>
